@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --radius: 0.5rem;
}
.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(1 0 0);
  --card: oklch(0.216 0.006 56.043 / 0.6);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.837 0.128 66.29);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(1 0 0 / 0.1);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.97 0.001 106.424 / 0.7);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 0.125);
  --input: oklch(1 0 0 / 0.2);
  --ring: oklch(0.837 0.128 66.29);
  --chart-1: oklch(0.837 0.128 66.29);
  --chart-2: oklch(0.705 0.213 47.604);
  --chart-3: oklch(0.871 0.15 154.449);
  --chart-4: oklch(0.852 0.199 91.936);
  --chart-5: oklch(0.685 0.169 237.323);
  --sidebar: oklch(0.147 0.004 49.25);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(1 0 0 / 0.85);
  --sidebar-primary-foreground: oklch(0 0 0 / 0.85);
  --sidebar-accent: oklch(1 0 0 / 0.1);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(1 0 0 / 0.125);
  --sidebar-ring: oklch(0.646 0.222 41.116);
  --radius: 0.625rem;
  --font-sans: "Instrument Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
  --primary-light: oklch(0.901 0.076 70.697);
  --primary-dark: oklch(0.837 0.128 66.29);
  --primary-ring: oklch(0.75 0.183 55.934);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility gradient {
  @apply bg-linear-to-b from-primary to-secondary;
}

@utility gradient-title {
  @apply gradient font-extrabold tracking-tighter pr-2 pb-2 text-transparent bg-clip-text;
}

@layer utilities {
  body {
    font-family: var(--font-sans);
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hero-image-wrapper {
  perspective: 1000px;
  overflow: hidden;
}

.hero-image {
  /* transform: rotateX(20deg) scale(0.9) translateY(-50); */
  transform: rotateX(15deg) scale(1);
  filter: saturate(0%) brightness(40%);
  transition: all 0.5s ease-out;
  will-change: all;
}

.hero-image.scrolled {
  transform: rotateX(0deg) scale(1) translateY(40px);
  filter: saturate(50%);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Add this class */
.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 3s ease infinite;
}
